<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.l0v3ch4n.oj.mapper.PostCommentMapper">

    <resultMap id="BaseResultMap" type="com.l0v3ch4n.oj.model.entity.PostComment">
            <id property="postCommentId" column="postCommentId" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="postId" column="postId" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="reviewStatus" column="reviewStatus" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        postCommentId,userId,postId,
        content,reviewStatus,createTime,
        updateTime,isDelete
    </sql>
    <select id="listCommentPostByPage" resultType="com.l0v3ch4n.oj.model.entity.Post"></select>
</mapper>
